### Python: Día 2

####Ejercicio 1:
Escribir una función que calcule el total de una factura tras aplicarle el IVA. La función debe recibir la cantidad sin IVA y el porcentaje de IVA a aplicar, y devolver el total de la factura. Si se invoca la función sin pasarle el porcentaje de IVA, deberá aplicar un 21%.

In [ ]:
def calculo_total(precio, iva=21):
  return precio*(1+iva/100)

In [ ]:
calculo_total(20)

24.2

##### Ejercicio 2:
Escribir un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista, pregunte al usuario la nota que ha sacado en cada asignatura y elimine de la lista las asignaturas aprobadas. Al final el programa debe mostrar por pantalla las asignaturas que el usuario tiene que repetir.

In [ ]:
nota_mates = int(input("Nota matemáticas: "))
nota_fisica = int(input("Nota física: "))
nota_quimica = int(input("Nota química: "))
nota_historia = int(input("Nota historia: "))
nota_lengua = int(input("Nota lengua: "))

notas = {"Matemáticas":nota_mates, "Física":nota_fisica,"Química":nota_quimica,"Historia":nota_historia,"Lengua":nota_lengua}

notas = {asignatura:nota for asignatura,nota in notas.items() if nota<5}
notas

Nota matemáticas: 2
Nota física: 3
Nota química: 6
Nota historia: 7
Nota lengua: 8

{'Matemáticas': 2, 'Física': 3}

In [ ]:
asignaturas = ["Matemáticas", "Física","Química","Historia","Lengua"]
aprobados = []
for asignatura in asignaturas:
  nota = int(input("Nota en "+ asignatura+": "))
  if nota > 5:
    aprobados = aprobados.append(asignatura)

Nota en Matemáticas: 2
Nota en Física: 3
Nota en Química: 5
Nota en Historia: 6
Nota en Lengua: 7

AttributeError: 'NoneType' object has no attribute 'append'

In [ ]:
def assignments(asignaturas):
  aprobadas = []
  for asignatura in asignaturas:
    nota = int(input(f'Nota de la asigantura: {asignatura} '))
    if nota >= 5:
      aprobadas.append(asignatura)

  return [i for i in asignaturas if i not in aprobadas]

In [ ]:
asignaturas = ['Mates', 'Fisica', 'Quimica', 'Historia', 'Lengua']
assignments(asignaturas)

Nota de la asigantura: Mates 2
Nota de la asigantura: Fisica 3
Nota de la asigantura: Quimica 7
Nota de la asigantura: Historia 8
Nota de la asigantura: Lengua 9

['Mates', 'Fisica']

##### Ejercicio 3:
Plantear una clase Persona que contenga dos atributos: nombre y edad. Definir como responsabilidades la carga por teclado y un metodo para su impresión. Declarar una segunda clase llamada Empleado que herede de la clase Persona y agregue un atributo sueldo y muestre si debe pagar impuestos (sueldo superior a 3000)

In [4]:
class Persona:
    def __init__(self):
        self.nombre = ""
        self.edad = 0

    def cargar_datos(self):
        self.nombre = input("Ingrese el nombre de la persona: ")
        self.edad = int(input("Ingrese la edad de la persona: "))

    def imprimir_datos(self):
      print(f"Nombre: {self.nombre} - Edad: {self.edad}")

class Empleado(Persona):
    def __init__(self):
        super().__init__()
        super().cargar_datos()
        self.sueldo = float(input("Ingrese el sueldo del empleado: "))


    def imprimir_datos(self):
        super().imprimir_datos()
        print("Sueldo:", self.sueldo)
        if self.sueldo > 3000:
            print(f"Como {self.nombre} cobra {self.sueldo} debe pagar impuestos.")
        else:
            print(f"Como {self.nombre} cobra {self.sueldo} no debe pagar impuestos.")

In [5]:
 empleado1 = Empleado()

Ingrese el nombre de la persona: Juan
Ingrese la edad de la persona: 20
Ingrese el sueldo del empleado: 25000

In [7]:
for i in range(5):
  print(i)

0
1
2
3
4

In [6]:
empleado1.imprimir_datos()

Nombre: Juan - Edad: 20
Sueldo: 25000.0
Como Juan cobra 25000.0 debe pagar impuestos.

In [ ]:
empleado1.pagar_impuestos()

El empleado Juan no debe pagar impuestos.

####Ejercicio 4:
Escribir una función reciba una lista de notas y devuelva la lista de calificaciones correspondientes a esas notas.

In [ ]:
def definiciones(nota):
    if nota < 5:
        calificacion = "Suspenso"
    elif nota < 6:
        calificacion = "Suficiente"
    elif nota < 7:
        calificacion = "Bien"
    elif nota < 9:
        calificacion = "Notable"
    elif nota < 10:
        calificacion = "Sobresaliente"
    else:
        calificacion = "MH"
    return calificacion

def mapeo(notas):
  return list(map(definiciones,notas))

In [ ]:
lista_de_notas = [4, 5.5, 7, 8.5, 10]
calificaciones_correspondientes = mapeo(lista_de_notas)
print(calificaciones_correspondientes)

['Suspenso', 'Suficiente', 'Notable', 'Notable', 'MH']

#### Ejercicio 5:
Escribir una función que reciba una muestra de números y devuelva los valores atípicos, es decir, los valores cuya puntuación típica sea mayor que 3 o menor que -3.
Nota: La puntuación típica de un valor se obtiene restando la media y dividiendo por la desviación típica de la muestra.

In [ ]:
import numpy as np

def outliers(numeros):
  media = np.mean(numeros)
  st = np.std(numeros)
  puntuaciones = list(map(lambda numero: (numero-media)/st, numeros))
  return list(filter(lambda puntuacion: abs(puntuacion)>3, puntuaciones))

In [ ]:
numeros_ejemplo = [1, 2, 3, 4, 5, 100, 200, 300, 400, 500]

outliers(numeros_ejemplo)

[]

#### Ejercicio 6:
Manejo de errores en una calculadora
Crea una clase Calculadora que tenga métodos para realizar operaciones matemáticas básicas como suma, resta, multiplicación y división. Implementa la gestión de errores para evitar divisiones por cero y otras operaciones inválidas.

In [ ]:
from functools import reduce

class Calculadora:

    def suma(self, *valores):
      print("Suma: ", reduce(lambda x,y: x+y,valores))
    def resta(self, *valores):
      print("Resta: ", reduce(lambda x,y: x-y,valores))
    def multiplicacion(self, *valores):
      print("Multiplicacion: ", reduce(lambda x,y: x*y,valores))
    def division(self, *valores):
      try:
        print("Division: ", reduce(lambda x,y: x/y,valores))
      except ZeroDivisionError:
        print("No se puede dividir entre cero!")
      except TypeError:
        print("Problema de tipos!")

calc = Calculadora()

In [ ]:
class Calculadora:

  def Suma(a,b):
    try:
      res = a + b
    except TypeError:
      print("Sólo puedes introducir números")
    except Exception as e:
      print("Error", type(e))
    else:
      print("Resultado: " + str(res))
    finally:
      print("Terminado")

  def Resta(a,b):
    try:
      res = a - b
    except TypeError:
      print("Sólo puedes introducir números")
    except Exception as e:
      print("Error", type(e))
    else:
      print("Resultado: " + str(res))
    finally:
      print("Terminado")

  def Multi(a,b):
    try:
      res = a * b
    except TypeError:
      print("Sólo puedes introducir números")
    except Exception as e:
      print("Error", type(e))
    else:
      print("Resultado: " + str(res))
    finally:
      print("Terminado")

  def Div(a,b):
    try:
      res = a / b
    except TypeError:
      print("Sólo puedes introducir números")
    except ZeroDivisionError:
      print("Error, no puedes dividir entre 0")
    except Exception as e:
      print("Error", type(e))
    else:
      print("Resultado: " + str(res))
    finally:
      print("Terminado")

calculadora = Calculadora
calculadora.Suma(3,4)
calculadora.Resta(3,4)
calculadora.Multi(3,4)
calculadora.Div(3,0)

##### Ejercicio 7:
Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [32]:
import pandas as pd

In [47]:
def dict_metrics(dict):
    d_serie = pd.Series(dict)
    metrics = d_serie.describe().round(2)
    return metrics[["min","max","mean","std"]]

In [36]:
dummy_dict = {
    "Matematicas": 8,
    "Fisica": 7,
    "Lengua": 5,
    "Historia":6
}

In [48]:
dict_metrics(dummy_dict)

min     5.00
max     8.00
mean    6.50
std     1.29
dtype: float64

##### Ejercicio 8:
Escribir un programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

Mes	Ventas	Gastos
Enero	30500	22000
Febrero	35600	23400
Marzo	28300	18100
Abril	33900	20700

Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [74]:
import warnings
warnings.filterwarnings("ignore")

In [76]:
datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'],
         'Ventas':[30500, 35600, 28300, 33900],
         'Gastos':[22000,23400,18100,20700]
}
df = pd.DataFrame(datos)
print("Datos: ",df)

def balance(data,lista):
  df_filt =  data[data["Mes"].isin(lista)]
  df_filt["Balance"] = df_filt["Ventas"] - df_filt["Gastos"]
  return df_filt["Balance"].sum()

print("Opción 1: ", balance(df, ["Enero","Febrero"]))

###### Opción 2:
def balance_2(datos,lista):
  datos_df = pd.DataFrame(datos)
  df_filt =  datos_df[datos_df["Mes"].isin(lista)]
  df_filt["Balance"] = df_filt["Ventas"] - df_filt["Gastos"]
  return df_filt["Balance"].sum()

print("Opción 2: ",balance_2(datos, ["Enero","Febrero"]))

Datos:         Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700
Opción 1:  20700
Opción 2:  20700

#### Ejercicio 4, fichero pandas:

In [2]:
import pandas as pd

In [6]:
datos = pd.read_csv("https://raw.githubusercontent.com/jorloicono/AF-PYTHON/main/DATOS/titanic.csv", sep = ",",error_bad_lines=False)
datos

<ipython-input-6-de7a122edac1>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  datos = pd.read_csv("https://raw.githubusercontent.com/jorloicono/AF-PYTHON/main/DATOS/titanic.csv", sep = ",",error_bad_lines=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
datos.shape

(891, 12)

In [9]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
datos.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [11]:
datos.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
datos.iloc[148]

PassengerId                                         149
Survived                                              0
Pclass                                                2
Name           Navratil, Mr. Michel ("Louis M Hoffman")
Sex                                                male
Age                                                36.5
SibSp                                                 0
Parch                                                 2
Ticket                                           230080
Fare                                               26.0
Cabin                                                F2
Embarked                                              S
Name: 148, dtype: object

In [15]:
datos[datos.index%2==0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
datos[datos["Pclass"]==1].sort_values(by="Name", ascending=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
730,731,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S
460,461,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S
...,...,...,...,...,...,...,...,...,...,...,...,...
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
555,556,0,1,"Wright, Mr. George",male,62.00,0,0,113807,26.5500,NaN,S
325,326,1,1,"Young, Miss. Marie Grice",female,36.00,0,0,PC 17760,135.6333,C32,C

In [42]:
metrics = datos.groupby("Survived")["PassengerId"].count() / len(datos) * 100
metrics = metrics.reset_index()
metrics.index = ["Porcentaje muertes", "Porcentaje supervivientes"]
metrics

                           Survived  PassengerId
Porcentaje muertes                0    61.616162
Porcentaje supervivientes         1    38.383838

In [48]:
survived = datos[datos["Survived"]==1]
metrics = survived.groupby(["Pclass"])["PassengerId"].count() / datos.groupby(["Pclass"])["PassengerId"].count() * 100
metrics.reset_index().set_index("Pclass")

        PassengerId
Pclass
1         62.962963
2         47.282609
3         24.236253

In [53]:
datos = datos[~datos["Age"].isna()]
datos.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         2
dtype: int64

In [59]:
import numpy as np
mujeres = datos[datos["Sex"]=="female"]
mujeres.groupby("Pclass")["Age"].agg(np.mean)

Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64

In [65]:
datos["Menor"] = datos["Age"].apply(lambda x: "Menor" if x < 18 else "Mayor")
datos.sample(10)

<ipython-input-65-8cfde91f2231>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos["Menor"] = datos["Age"].apply(lambda x: "Menor" if x < 18 else "Mayor")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Menor
244,245,0,3,"Attalah, Mr. Sleiman",male,30.0,0,0,2694,7.2250,NaN,C,Mayor
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S,Mayor
662,663,0,1,"Colley, Mr. Edward Pomeroy",male,47.0,0,0,5727,25.5875,E58,S,Mayor
823,824,1,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S,Mayor
614,615,0,3,"Brocklebank, Mr. William Alfred",male,35.0,0,0,364512,8.0500,NaN,S,Mayor
548,549,0,3,"Goldsmith, Mr. Frank John",male,33.0,1,1,363291,20.5250,NaN,S,Mayor
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.0,1,1,C.A. 37671,15.9000,NaN,S,Menor
402,403,0,3,"Jussila, Miss. Mari Aina",female,21.0,1,0,4137,9.8250,NaN,S,Mayor
641,642,1,1,"Sagesser, Mlle. Emma",female,24.0,0,0,PC 17477,69.3000,B35,C,Mayor
239,240,0,2,"Hunt, Mr. George Henry",male,33.0,0,0,SCO/W 1585,12.2750,NaN,S,Mayor

In [66]:
sup = datos[datos["Survived"]==1]
sup.groupby("Pclass")["Menor"].count()/datos.groupby("Pclass")["Menor"].count()

Pclass
1    0.655914
2    0.479769
3    0.239437
Name: Menor, dtype: float64